services:
  pg:
    container_name: pg
    image: postgres:16
    restart: always
    shm_size: 128mb
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      MEDADMIN_PASS: ${MEDADMIN_PASS}
      USER_APPLICATION_PASS: ${USERAPPLICATION_PASS}
      GP_APPLICATION_PASS: ${GPAPPLICATION_PASS}
      POSTGRES_USER: ${POSTGRES_USERNAME}
      POSTGRES_DB: ${POSTGRES_DB}
      PGDATA: /data/postgres
    volumes:
      # Database files for persistence
      - ./db:/data/postgres
      # SQL scripts to run at container initialization
      - ./init:/docker-entrypoint-initdb.d
    ports:
      - 5432:5432
    networks:
      - backend

  adminer:
    container_name: adminer
    image: adminer
    restart: always
    ports:
      - 8080:8080
    networks:
      - backend

networks:
  backend:
