services:
  pg:
    container_name: pg
    image: postgres
    restart: always
    shm_size: 128mb
    environment:
      POSTGRES_PASSWORD: ${MEDADMIN}
      USER_APPLICATION_PASS: ${USERAPPLICATION}
      GP_APPLICATION_PASS: ${GPAPPLICATION}
      POSTGRES_USER: ${POSTGRES_USERNAME}
      POSTGRES_DB: ${POSTGRES_DB}
      PGDATA: /data/postgres
    volumes:
#Database files for even the docker container is down
      - ./db:/data/postgres
#to run scripts 
      - ./init:/docker-entrypoint-initdb.d

    ports:
      - 5000:5000
    networks:
        - backend

  adminer:
    container_name: adminer
    image: adminer
    restart: always
    ports:
      - 8080:8080
    networks:
	- backend

networks:
    backend:

